# Supabase Configuration
VITE_SUPABASE_URL=https://msjsvwidlmozchljtjag.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zanN2d2lkbG1vemNobGp0amFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0OTEwMjcsImV4cCI6MjA3NzA2NzAyN30.CGz4ZyRLCeoO1rbho_loOha0hr9OkDa79KVKa4AuCLc


